$pry-l-blue: #e9efff;
$pry-d-blue: #1d4ed8;
$pry-m-blue: #d0e1ff;
$pry-l-cyan: #f3fafc;
$pry-d-cyan: #037092;
$pry-l-white: #f5f5f5;

@mixin grid($col, $row, $gap) {
    display: grid;
    grid-template-columns: $col;
    grid-auto-rows: $row;
    gap: $gap;
}

@mixin flex($ai, $jc, $gap, $fld: false) {
    display: flex;
    align-items: $ai;
    justify-content: $jc;
    gap: $gap;

    @if ($fld != false) {
        flex-direction: $fld;
    }
}

@mixin media($prefix, $size) {
    @media (#{$prefix}-width: $size) {
        @content;
    }
}

@mixin media-h($prefix, $size) {
    @media (#{$prefix}-height: $size) {
        @content;
    }
}
